
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="/favicon.ico">
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="~/Content/h-ui/lib/html5shiv.js"></script>
    <script type="text/javascript" src="~/Content/h-ui/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="~/Content/h-ui/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/h-ui/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/h-ui/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/h-ui/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="~/Content/h-ui/static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="~/Content/h-ui/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title></title>
</head>
<body>
    <nav class="breadcrumb">
        <i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span> 日志管理
        <span class="c-gray en">&gt;</span> 用户登录日志
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">
            <i class="Hui-iconfont">&#xe68f;</i>
        </a>
    </nav>
    <div class="page-container">
        <div class="text-c">
            <select class="sel_select" id="ddlQuery">
                <option value="UserName">用户名</option>
                <option value="UserRoleName">角色</option>
                <option value="Operation_IP">登录IP</option>
            </select>
            <input type="text" class="input-text" id="txtQuery" style="width:250px">
            登录时间：
            <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'txtEndDate\')||\'%y-%M-%d\'}' })" id="txtStartDate" class="input-text Wdate" style="width:120px;">
            -
            <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'txtStartDate\')}',maxDate:'%y-%M-%d' })" id="txtEndDate" class="input-text Wdate" style="width:120px;">
            <button type="button" onclick="onSearch()" class="btn btn-success"><i class="Hui-iconfont">&#xe665;</i>搜索</button>
        </div>
        <div class="mt-10 table-container">
            <table class="table table-border table-bordered table-hover table-bg"></table>

            <!-- 分页控件 -->
            <div id="paginationContainer"></div>
        </div>
    </div>
</body>
</html>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="~/Content/h-ui/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/h-ui/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="~/Content/h-ui/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="~/Content/h-ui/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="~/Content/h-ui/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="~/Content/h-ui/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/Content/js/myPage.js"></script>
<script type="text/javascript">
    $(function () {
        loadView();
    });

    //得到条件
    function getstrWhere() {
        var whereobj = new Object;
        whereobj.queryname = $("#ddlQuery").val();
        whereobj.queryvalue = $("#txtQuery").val();
        whereobj.querystartdate = $("#txtStartDate").val();
        whereobj.queryenddate = $("#txtEndDate").val();
        return JSON.stringify(whereobj);
    }

    //得到总记录数
    function getRecordCount() {
        var recordCount = 0;
        $.ajax({
            type: "POST",
            url: "/LogManage/GetLogLoginRecordCountData",
            contentType: 'application/x-www-form-urlencoded;charset=utf-8',
            data: { jsonWhere: getstrWhere() },
            dataType: "json",
            async: false,
            success: function (data) {
                if (data.Success == true) {
                    recordCount = data.ReturnString;
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
        return recordCount;
    }

    //查询
    function onSearch() {
        currentPage = 1;
        loadView();
        return false;
    }

    //加载数据
    function loadView() {
        var pageobj = {};
        pageobj.currentpageindex = currentPage;//当前页数
        pageobj.pagesize = pageSize;//每页显示数量
        pageobj.currentwhere = getstrWhere();
        $.ajax({
            type: 'POST',
            url: "/LogManage/GetLogLoginTableData",
            contentType: 'application/x-www-form-urlencoded;charset=utf-8',
            data: { jsonData: JSON.stringify(pageobj) },
            dataType: 'json',
            success: function (data) {
                if (data.Success == true) {
                    //更新总记录数
                    totalCount = getRecordCount();
                    //更新总页数
                    totalPages = Math.ceil(totalCount / pageSize);

                    //装载数据
                    $(".table").html(data.ReturnString);

                    //渲染分页控件
                    renderPager();
                }
                else {
                    //加载失败
                    layer.alert(data.ReturnString, { icon: 2 })
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
    }
</script>
