
@{
    Layout = null;
}

<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="/favicon.ico">
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="~/Content/h-ui/lib/html5shiv.js"></script>
    <script type="text/javascript" src="~/Content/h-ui/lib/respond.min.js"></script>

    <![endif]-->
    <link rel="stylesheet" type="text/css" href="~/Content/h-ui/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/h-ui/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/h-ui/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/h-ui/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="~/Content/h-ui/static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="~/Content/h-ui/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <!--/meta 作为公共模版分离出去-->
    <title></title>
</head>
<body>
    <div class="page-container">
        <form id="form1" class="form form-horizontal" method="post">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"></label>
                <div class="formControls col-xs-8 col-sm-9">
                    <span style="color:red;">新添加用户默认密码为123456，请及时登录并修改密码！</span>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>用户名：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="" id="UserName" name="UserName" maxlength="100" />
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">性别：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <div class="radio-box">
                        <input type="radio" value="M" name="UserSex" checked>
                        <label>男</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" value="F" name="UserSex">
                        <label>女</label>
                    </div>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>角色：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <span class="select-box">
                        <select id="UserRole" name="UserRoleID" class="select">
                        </select>
                    </span>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">联系电话：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" id="Phone" name="Phone" onkeyup="value=value.replace(/[^\d]/g,'')" maxlength="15">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">邮箱账号：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" id="Email" name="Email" maxlength="100">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>状态：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <div class="radio-box">
                        <input type="radio" value="0" name="UserStatus" checked>
                        <label>启用</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" value="-1" name="UserStatus">
                        <label>禁用</label>
                    </div>
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                    <button onClick="SaveData();" class="btn btn-primary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存</button>&nbsp;&nbsp;
                    <button onClick="javascript: history.go(-1);" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="~/Content/h-ui/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/h-ui/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="~/Content/h-ui/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="~/Content/h-ui/static/h-ui.admin/js/H-ui.admin.js"></script>
<!--/_footer 作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="~/Content/h-ui/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="~/Content/h-ui/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="~/Content/h-ui/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="~/Content/h-ui/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script src="~/Content/js/jquery-ui.bm.js"></script>
<script>
    var guid = "";
    $(function () {
        guid = getQueryString("UserGUID");
        bindUserRole();
        loadData();
    });

    //绑定角色
    function bindUserRole() {
        $.ajax({
            type: "POST",
            url: "/Project/BindRoleData",
            contentType: 'application/x-www-form-urlencoded;charset=utf-8',
            data: {},
            dataType: "json",
            success: function (data) {
                if (data.Success == true) {
                    $("#selUserRole").html(data.ReturnString);
                }
                else {
                    //加载失败
                    layer.alert(data.ReturnString, { icon: 2 })
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

    //装载信息
    function loadData() {
        if (guid != "") {
            $.ajax({
                type: "POST",
                url: "/Project/GetUserInfoData",
                contentType: 'application/x-www-form-urlencoded;charset=utf-8',
                data: { id: guid },
                dataType: "json",
                success: function (data) {
                    if (data.Success == true) {
                        setAllDataByName("form1", JSON.parse(data.ReturnString));
                    }
                    else {
                        //加载失败
                        layer.alert(data.ReturnString, { icon: 2 })
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });
        }
    }

    //提交保存
    function SaveData() {
        var userName = $("#UserName").val();
        if (userName.trim() == "") {
            layer.alert('请输入用户名', { icon: 2 })
            return false;
        }
        var userRole = $("#UserRole").val();
        if (userRole.trim() == "") {
            layer.alert('请选择角色', { icon: 2 })
            return false;
        }
        var ele = getAllDataByName("form1");
        ele.UserGUID = guid;
        $.ajax({
            type: "POST",
            url: "/Project/SaveUserInfoData",
            contentType: 'application/x-www-form-urlencoded;charset=utf-8',
            data: { jsonData: JSON.stringify(ele) },
            dataType: "json",
            success: function (data) {
                if (data.Success == true) {
                    //保存成功
                    layer.msg(data.ReturnString, { icon: 1 }, function () {
                        window.location = "/Project/UserIndex";
                    });
                }
                else {
                    //保存失败
                    layer.alert(data.ReturnString, { icon: 2 })
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
    }
</script>

